<div class="l-view login">
    <div class="l-body">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">               
                <div>
                    <div style="margin-top:40px; margin-left: auto; margin-right: auto; text-align: center; vertical-align: middle;">
                        <div style="margin-bottom:10px;" class="center-content">
                            <input type="text" ng-model="User.Username" placeholder="Username"/><br/>
                        </div>
                        <div style="margin-bottom:10px;" class="center-content">
                            <input type="password" ng-model="User.Password" placeholder="Password"><br/>
                        </div>
                        <div class="center-content">
                            <button class="primary" ng-click="onLoginClick();">Login</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>