<section class="l-modal">
    <div class="l-modal-heading">
        <!--<h1>{{Station.Name}}</h1>-->
    </div>
    <div class="l-modal-body">
        <div class="row grow">
            <div class="col-sm-12 grow">
                <div ng-jsoneditor="onEditorLoad" ng-model="Manifest" options="EditorOptions" style="width: 100%; height: 500px;"></div>
            </div>
        </div>
    </div>
    <div class="l-modal-footer">
        <div class="buttons">
            <button class="default pull-right" ng-click="onCancel();">Cancel</button>
            <button samtec-focus="true" class="primary pull-right" ng-click="onOK();" ng-keypress="($event.which === 13)?onOK():0">OK</button>
        </div>
    </div>
</section>