<div class="l-view grow">
    <div class="l-body grow">
        <ul class="nav nav-tabs">
            <li ng-class="{'active' : ActiveTab == 0, 'active-tab' : ActiveTab == 0}"><a ng-click="onStationsView();">Stations</a></li>
            <li ng-class="{'active' : ActiveTab == 1, 'active-tab' : ActiveTab == 1}"><a ng-click="onComponentsView();">Components</a></li>
        </ul>
        <div class="row grow">
            <div class="col-sm-12 grow">
                <div class="ag-samtec ag-shadow" ag-grid="GridOptions" style="height:calc(100% - 70px);">
                </div>
            </div>
        </div>
    </div>
</div>


